body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(231,2,2,1) 0%, rgba(241,241,30,1) 83%);
    text-align: center
}


.titulo-inicio
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.titulo-inicio i
{
    color: black;
}

.video-inicio
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    height: 300px;
    width: 300px;
}


.inicio-sesion
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}

.button-style
{  
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    background-color: white;
    text-decoration: none;
}

.button-style:hover
{
    background-color: #228B22;
}


a
{
    text-decoration: none;
    color: 	#000000;
}